# Node modules
backend/node_modules/
frontend/node_modules/

# Build output
frontend/dist/

# Miscellaneous
train/
oo.md
output copy.xlsx
output_20240716T025039004Z.xlsx
output_20240716T025046440Z.xlsx
output_20240716T082402890Z.xlsx
output.xlsx
train.zip
updates.csv

# Package lock files
backend/package-lock.json
frontend/package-lock.json
 